.fragment-jira .fixed-table-toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
}

.fragment-jira .fixed-table-toolbar div:first-child {
	margin-right: auto; /* moves the first div to the left */
}

.fragment-jira .fixed-table-toolbar div:last-child {
	margin-left: auto; /* moves the last div to the right */
}