.aisummary .chat-bubble {
    max-width: 80%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
    background-color: #f1f1f1;
    max-width: fit-content;
}

.aisummary .chat-bubble.user {
    background-color: #007bff;
    color: white;
    align-self: flex-end;
}

.aisummary .chat-bubble.assistant {
    background-color: #e0e0e0;
    color: black;
    align-self: flex-start;
}

.aisummary .busy-icon {
    height: 30px;
    display: default;
    animation: blink 2.0s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}