.menu-flyout {
  position: fixed;
  top: 0;
  left: -250px; /* Start off-screen */
  width: 250px;
  height: 100%;
  background-color: var(--color-brand-primary);
  transition: left 0.3s ease-in-out;
  padding: 20px;
  box-shadow: 4px 2px 6px rgba(0,0,0,0.5);
	z-index: 1000;
}

.menu-flyout h4 {
  color: #ffffff !important;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5) !important;
}

.menu-flyout hr {
	border-color: #ffffff;
}

.menu-flyout .navbar-nav {
	display: block !important;
}

.menu-flyout .child-menu a {
	color: var(--color-brand-primary) !important;
}

.menu-flyout ul {
  padding: 0;
}

.menu-flyout ul li a {
  color: #ffffff !important;
  margin: 10px 0;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5) !important;
}

.menu-flyout .navbar-nav a {
  font-weight: bold;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

.menu-flyout .navbar-nav a:hover {
	color: var(--color-neutral-4) !important;
}

.menu-flyout .navbar-nav a:hover {
  transform: scale(1.1);
}

.menu-flyout .navbar-nav .child-menu a {
	text-shadow: none !important;
}

.menu-flyout .navbar-nav .child-menu a:hover {
	color: var(--color-brand-primary) !important;
}
